[run]
branch = True
source =
    cryptography_suite

[report]
omit =
    tests/*
    */tests/*

[paths]
source =
    cryptography_suite
    source/cryptography_suite
    */site-packages/cryptography_suite
