# Default ignored files
/../../cryptography /.idea/shelf/
/../../cryptography /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../cryptography /.idea/httpRequests/
# Datasource local storage ignored files
/../../cryptography /.idea/dataSources/
/../../cryptography /.idea/dataSources.local.xml
